<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand"><a href="/" style="color:#000">CORESTORY</a></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <% if(isAuthenticated){ %>
        <li><a href="/users/<%=user.username%>/projects/"><%= user.username %> 님의 프로젝트</a></li>
        <% }  %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if(isAuthenticated){ %>
          <li><a href="/users/<%= user.username %>">내 계정관리</a></li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
