<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>
      <P>코어 스토리 스토리 플랫폼</p>
    </div>

    <% include ../partials/footer %>
  </body>
</html>
